:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-grey-price: #A9A9A9;
    --basic-greylight-popular: #F9F5F0;
    --basic-greylight-border: #E5E5E5;
    --basic-background: #F1F5F7;
    --basic-white: #FFFFFF;
    --basic-blue: #293449;
    --basic-black: #000000;
    --sort-grey: #F7F3EC;
    --blue: #32425C;
    --special-yellow: #FFBF47;
    --special-yellow-2: #FFC047;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --success: #5FBB2D;
    --active-green: #518534;
    --warning: #FFBF47;
    --error: #BA2732;
    --header-button-active: #161D29;
    --main-navigation-active: #1D2739;
    --red-button-hover: #CA2C37;
    --gray-card-border: #EAEAEA;
    --button-shadowblue: #405069;
    --social-background: #212A3A;
    --scale-background: #D7DCDE;
    --scale-active: #00CA74;
    --toggle-color: #ABABAB;
    --divider: #444444;
    --form-background: #F4F4F4;
    --buttons-background: #F1F1F1;
    --footer-gray: #F3F5F7;
}



/* Global */

html {
    height: 100%;
}

body {
    min-width: 960px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--basic-white);
    font-family: 'Cuprum', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.list_no_pm {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;    
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.red_button {
    display: block;
    padding-top: 11px;
    padding-bottom: 9px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.red_button:hover {
    background-color: var(--red-button-hover);
}

.red_button:active {
    background-color: var(--error);
}



/* Header */


.header-main {
    background-color: var(--basic-background);
}

.header-top {
    background-color: var(--basic-blue);
    min-height: 42px;
}

.header-top .container {
    display: flex;
    position: relative;
}

.header-logo {
    position: absolute;
    display: block;
    width: 108px;
    background-color: var(--basic-red);
    padding: 12px 56px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-logo:active {
    background-color: var(--error);
}

.search {
    margin-left: 220px;
    position: relative;
    height: 42px;
}

.search-icon {
    position: absolute;
    top: 12px;
    left: 17px;
    opacity: 0.3;
    fill: var(--basic-white);
}

.search-input {
    width: 270px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 18px;
    line-height: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 42px;
}

.search-input:focus {
    border: none;
    outline: none;
    background-color: var(--basic-white);
}
.search-input:focus + svg {
    fill: var(--basic-red);
}

/*.search:focus-within::after {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon-search_red.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    top: 12px;
    left: 17px;

}
*/

.search-input::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.search:hover .search-icon {
    opacity: 1;
}


.header-buttons {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.header-button {
    position: relative;
    box-sizing: border-box;
    min-width: 150px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 44px;
    padding-right: 10px;

    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.bookmarks::before {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_bookmarks.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    top: 13px;
    left: 17px;
    opacity: 0.3;
}

.cart {
    padding-left: 49px;
}

.cart::before {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_cart.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    top: 13px;
    left: 17px;
    opacity: 0.3;
}

.cart-used {
    background-color: var(--basic-red);
}

.bookmarks:hover::before, .cart:hover::before {
    opacity: 1;
}

.bookmarks:active, .cart:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--header-button-active);
}

.bookmarks:active::before, .cart:active::before {
    opacity: 0.3;
}

.checkout {
    background-color: var(--basic-green);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.checkout:hover {
    background-color: var(--success);
}

.checkout:active {
    background-color: var(--basic-green);
    color: rgba(255, 255, 255, 0.5);
}

.header-bottom {
    padding-top: 47px;
    padding-bottom: 60px;
}

.header-about {
    width: 197px;
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    padding-left: 30px;
}

.header-address {
    width: 300px;
}

.header-address a {
    display: block;
    width: 270px;
    height: 45px;
    position: relative;
    color: var(--basic-red);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    padding-top: 4px;
    padding-left: 74px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

.header-address a::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url("../img/decor_icon_phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 10px;
    left: 39px;
}

.header-address p {
    margin: 0;
    padding: 0;
    margin-top: 3px;
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--blue);
}

.header-usernav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    min-height: 45px;
}

.signin, .signup {
    display: block;
    box-sizing: border-box;
    color: var(--basic-black);
    
    font-size: 21px;
    line-height: 21px;
    background-color: var(--basic-white);
    padding-top: 12px;
    padding-bottom: 12px;
}

.signin {
    position: relative;
    padding-left: 45px;
    padding-right: 27px;
    margin-right: 10px;
}

.signin::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    background-image: url("../img/decor_icon_login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 14px;
    left: 19px;
    opacity: 1;
}

.signin:hover, .signup:hover {
    color: var(--basic-red);
}

.signin:hover::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    background-image: url("../img/decor_icon_login-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 14px;
    left: 19px;
    opacity: 1;
}

.signin:active::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    background-image: url("../img/decor_icon_login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 14px;
    left: 19px;
    opacity: 1;
}

.signup {
    padding-left: 24px;
    padding-right: 24px;
}

.signin:active, .signup:active {
    color: var(--basic-greylight);
}

.header-bottom-usernav {
    display: flex;
    justify-content: space-between;
}

.logged-name {
    width: 300px;
    position:  relative;
}

.usernav-name {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-white);
    padding: 12px 56px;
}

.logout {
    position: absolute;
    display: block;
    top: 14px;
    right: 17px;
    border: none;
    outline: none;
    
    width: 20px;
    height: 17px;
}

.logout:hover path {
    fill: var(--basic-grey);
}

.logout:active path {
    fill: var(--basic-greylight);
}

.usernav-profile-icon {
    position: absolute;
    display: block;
    top: 13px;
    left: 15px;
    width: 20px;
    height: 18px;
}

.usernav-profile-icon:hover path {
    fill: var(--basic-grey);
}

.usernav-profile-icon:active path {
    fill: var(--basic-greylight);
}

.usernav-name:active {
    color: var(--basic-greylight);
}

.profile {
    margin-top: 7px;
    display: flex;
    justify-content: center;
}

.profile a {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--blue);
}

.profile a:hover {
    color: var(--basic-red);
}

.profile a:active {
    color: var(--basic-greylight);
}

.profile-circle {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: var(--blue);
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 15px;
}


.main-navigation {
    background-color: var(--blue);
    box-shadow: inset 0px -5px 0px #293449;
    margin-top: 40px;
}

.main-navigation .list_no_pm {
    display: flex;
    flex-wrap: wrap;
    min-height: 60px;
    width: 940px;
    justify-content: flex-start;
    margin: 0 15px;
}

.main-navigation li {
    flex-basis: auto;
}

.main-navigation a {
    display: block;
    color: var(--basic-white);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 30px;
}

.main-navigation a:hover {
    background-color: var(--basic-blue);
}

.main-navigation a:active {
    background-color: var(--main-navigation-active);
    color: rgba(255, 255, 255, 0.5);
}



/* Main */



/* Promo-block */ 

.promo-block {
    padding-top: 59px;
    padding-bottom: 59px;
}

.promo-advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.promo-slider {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.promo-advantages li {
    position: relative;
    min-height: 123px;
}

.card-new::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("../img/decor_icon_new.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 0px;
    right: 0px;
}

.promo-advantages h3 {
    color: var(--basic-white);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-left: 23px;
    padding-bottom: 73px;
    max-width: 180px;
}

.promo-link {
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 21px;
    left: 23px;
    color: var(--basic-white);
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    background-color: rgba(255, 255, 255, 0.3);
    min-width: 135px;
    max-width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.promo-link:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.promo-link:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.promo-materials {
    background-color: var(--special-yellow);
}

.promo-materials::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 65px;
    background-image: url("../img/decor_promo-bucket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 31px;
    right: 43px;
}

.promo-instruments {
    background-color: var(--special-blue);
}

.promo-instruments::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 61px;
    background-image: url("../img/decor_promo-drill.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 34px;
    right: 31px;
}

.promo-tech {
    background-color: var(--special-lilac);
}

.promo-tech::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 62px;
    background-image: url("../img/decor_promo-tracktor.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 31px;
    right: 31px;
}

.promo-discounts {
    background-color: var(--special-greenlight);
}

.promo-discounts::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 72px;
    background-image: url("../img/decor_promo-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 26px;
    right: 45px;
}

.promo-delivery {
    background-color: var(--special-yellow-2);
}

.promo-delivery::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 63px;
    background-image: url("../img/decor_promo-van.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 32px;
    right: 31px;
}

.promo-slider .red_button {
    padding-left: 46px;
    padding-right: 46px;
    position: absolute;
    bottom: 27px;
    left: 24px;
}

.promo-slider-controls {
    position: absolute;
    background-color: transparent;
    width: 22px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.slide-previous {
    background-image: url("../img/decor_icon_left.svg");
    bottom: 104px;
    left: 24px;
}

.slide-next {
    background-image: url("../img/decor_icon_left.svg");
    transform: rotate(180deg);
    bottom: 104px;
    right: 20px;
}

.promo-slider-list li {
    min-height: 266px;
}

.promo-slider-item {
    display: none;
    width: 620px;
    margin: 0;
    padding: 0;
}

.promo-slide-current {
    display: block;
}

.slider-perf {
    background-color: var(--basic-black);
    background-image: url("../img/background_promo-men-toys-perf.jpg");
}

.slider-drill {
    background-color: var(--basic-black);
    background-image: url("../img/background_promo-men-toys-drills.jpg");
}

.promo-slider-item h3 {
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-left: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.promo-slider-item p {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.promo-slider-buttons {
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translate(-50%, 0);
}

.promo-slider-round-button {
    position: relative;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--basic-white);
}

.promo-button-current::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    background-color: var(--basic-red);
}

.promo-slider-round-button:not(:last-child) {
    margin-right: 10px;
}




/* Popular items */



.popular-header {
    background-color: var(--basic-background);
    position: relative;
}

.popular-header h2 {
    margin: 0;
    padding: 0;
    padding-top: 29px;
    padding-left: 28px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.popular-header .red_button {
    position: absolute;
    top: 25px;
    right: 14px;
    width: 192px;
    text-align: center;
}

.item-cards-main, .item-cards-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}

.item-card {
    position: relative;
    box-sizing: border-box;
    width: 220px;
    min-height: 318px;
    background: var(--basic-white);
    border: 1px solid var(--gray-card-border);
    margin-right: 20px;
    margin-bottom: 20px;
}

.item-cards-main li:nth-child(4n) {
    margin-right: 0;
}

.item-card .card-buttons {
    display: none;
}

.item-card:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.item-card:hover .card-img {
    display: none;
}

.item-card:hover .card-buttons {
    display: block;
}

.card-img, .card-buttons {
    width: 200px;
    height: 160px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-buttons button {
    outline: none;
    width: 135px;
    height: 38px;
    position: relative;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.card-buy {
    margin-top: 28px;
    margin-bottom: 10px;
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
    color: var(--basic-white);
    padding-left: 22px;
    border: none;
    border-radius: 2px;
}

.card-buy::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/decor_icon_cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 10px;
    left: 30px;
    opacity: 0.3;
}

.card-buy:hover {
    background-color: var(--success);
}

.card-buy:active {
    background-color: var(--active-green);
}

.card-bookmark {
    border: 3px solid var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--basic-white);
    color: var(--blue);
}

.card-bookmark:hover {
    border: 3px solid var(--blue);
}

.card-bookmark:active {
    border: 3px solid var(--blue);
    opacity: 0.5;
}

.card-img img {
    display: inline-block;
    vertical-align: center;
    object-fit: contain;
}

.card-name {
    font-family: 'PT Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    width: 185px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    padding-bottom: 97px;
}

.card-original-price {
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 72px;
    color: var(--basic-grey-price);
    font-family: 'PT Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    text-align: center;
    width: 141px;
    left: 41px;
}

.card-price {
    display: block;
    box-sizing: border-box;
    height: 38px;
    width: 141px;
    padding-top: 10px;
    position: absolute;
    bottom: 21px;
    left: 45px;
    color: var(--basic-white);
    font-family: 'PT Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-image: url("../img/background_price.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.vendor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}

.vendor-cards li {
    box-sizing: border-box;
    width: 220px;
    height: 145px;
    background: var(--basic-white);
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--gray-card-border);
}

.vendor-cards li:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.vendor-cards li:active {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    opacity: 0.5;
}

.vendor-cards li:nth-child(4n) {
    margin-right: 0;
}

.vendor-cards a {
    display: block;
    width: 200px;
    height: 125px;
    text-align: center;
    margin: 10px;
}

.vendor-bosch {
    background-image: url("../img/background_logo_bosch.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.vendor-makita {
    background-image: url("../img/background_logo_makita.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.vendor-dewalt {
    background-image: url("../img/background_logo_dewalt.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.vendor-interskol {
    background-image: url("../img/background_logo_interskol.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.vendor-hitachi {
    background-image: url("../img/background_logo_hitachi.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.vendor-lg {
    background-image: url("../img/background_logo_lg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.vendor-aeg {
    background-image: url("../img/background_logo_aeg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.vendor-metabo {
    background-image: url("../img/background_logo_metabo.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.services-block {
    background-color: var(--basic-background);
    padding-top: 64px;
}

.services-block h2, .services-block h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    padding: 0;
    margin: 0;
}

.services-block p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
}

h2.service-header {
    margin-bottom: 25px;
}

p.service-text {
    width: 400px;
    margin-bottom: 70px;
}

.services-slider {
    display: flex;
    justify-content: space-between;
}

.services-list {
    width: 240px;
    position: relative;
    margin-bottom: 100px;
}

.services-list button {
    border: none;
    outline: none;
    background-color: var(--blue);
    box-shadow: 0px 1px 0px var(--basic-blue), inset 0px 1px 0px var(--button-shadowblue);
    width: 240px;
    height: 61px;
    color: var(--basic-white);
    font-family: 'Cuprum', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    text-align: left;
    padding-left: 22px;
}

.services-list button:hover {
    background: var(--basic-blue);
    box-shadow: 0px 1px 0px var(--basic-blue), inset 0px 1px 0px var(--button-shadowblue);
}

.services-list button.service-button-active {
    color: var(--blue);
    background-color: var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-white);
}

.services-list:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 279px;
    background-image: url("../img/decor_shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -49px;
    right: 0px;
}

.services-slider h3 {
    margin-bottom: 30px;
}

.services-detail p {
    width: 317px;
}

.services-detail {
    width: 620px;
}

.services-detail li {
    position: relative;
}

.service-detail {
    display: none;
}

.service-delivery:after {
    position: absolute;
    content: "";
    background-image: url("../img/background_delivery.png");
    width: 468px;
    height: 261px;
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 22px;
    right: 1px;
}

.service-guarantee:after {
    position: absolute;
    content: "";
    background-image: url("../img/background_guarantee.png");
    width: 389px;
    height: 283px;
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 1px;
    right: -8px;
}

.service-credit:after {
    position: absolute;
    content: "";
    background-image: url("../img/background_credit.png");
    width: 465px;
    height: 285px;
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -2px;
    right: -10px;
}

.service-credit .red_button {
    margin-top: 27px;
    margin-bottom: 10px;
    width: 195px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.service-active {
    display: block;
}


.about-contacts-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}

.about-contacts-block h2, .about-contacts-block p {
    padding: 0;
    margin: 0;
}

.about {
    width: 480px;
}

.about h2, .contacts h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.about-contacts-block p {
    margin-top: 24px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 2px;
}

.about .list_no_pm {
    margin-left: 37px;
    margin-bottom: 20px;

}

.about li {
    position: relative;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.about li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
    top: 12px;
    left: -37px;
}

.about .red_button {
    margin-bottom: 8px;
    width: 220px;
    text-align: center;
    padding-top: 10px;
}

.contacts .map {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contacts .red_button {
    width: 300px;
    text-align: center;
}


.footer-top-mid-background {
    background-color: var(--blue);
    padding-bottom: 54px;
}

.footer-bottom-background {
    background-color: var(--basic-blue);
}



.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 22px;
}

.second-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 37px;
    width: 600px;
}

.second-nav li {
    margin-left: 55px;
}


.second-nav a {
    display: block;
    color: var(--basic-background);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.second-nav a:hover {
    text-decoration: underline;
    color: var(--basic-background);
}

.second-nav a:active {
    opacity: 0.5;
    color: var(--basic-background);
    text-decoration: none;
}

.footer-mid p {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--footer-gray);
}

.footer-mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.promo-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 600px;
}

.promo-nav li {
    margin-left: 55px;
}

.promo-nav a {
    display: block;
    color: var(--special-yellowlight);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.promo-nav a:hover {
    text-decoration: underline;
    color: var(--special-yellowlight);
}

.promo-nav a:active {
    color: var(--special-yellowlight);
    opacity: 0.5;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 29px;
}

.footer-copyright {
    width: 227px;
    margin: 0;
    padding: 0;
    color: var(--basic-white);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.social-feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 137px;
    margin: 0 auto;
    padding: 0;
}

.social-feedback a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--social-background);
    color: inherit;
    border-radius: 100%;
}

.social-feedback a:hover, .social-feedback a:active {
    background-color: var(--basic-red);
}

.footer-contacts {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.footer-contacts p {
    margin: 0;
    padding: 0;
    color: var(--basic-white);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom a {
    color: var(--special-yellowlight);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-bottom a:active {
    color: var(--basic-red);
    text-decoration: none;
}

.catalog-section {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-content: start;
    gap: 20px;
    padding-bottom: 59px;

}



.catalog-section .popular-header {
    grid-column: 1 / -1;
}

.breadcrumbs {
    grid-column: 1 / -1;
    margin-top: 21px;
    margin-bottom: 20px;
    display: flex;
}

.breadcrumbs li {
    position: relative;
}

.breadcrumbs a {
    text-transform: uppercase;
    color: var(--basic-black);
    margin-right: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.breadcrumbs li:not(:last-child):after {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_breadcrumbs-divider.svg");
    width: 8px;
    height: 12px;
    background-repeat: no-repeat;
    top: 3px;
    right: 15px;
}



.sort {
    display: flex;
    justify-content: space-between;
    font-family: 'PT Sans', Arial, sans-serif;
    padding-left: 19px;
    padding-right: 17px;
    background-color: var(--sort-grey);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.item-cards-catalog li:nth-child(3n) {
    margin-right: 0;
}

.sort-type {
    display: flex;
    justify-content: space-between;
    width: 353px;
    margin-top: 9px;
}


.sort-item {
    border-bottom: 1px dotted var(--basic-red);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.sort-item:hover {
    color: var(--basic-black);
    border-bottom: 1px solid var(--basic-red);
}

a.sort-active, a.sort-active:hover, a.sort-active:active, .sort-item:active {
    color: var(--basic-red);
    opacity: 1;
    border: none;
}

.sort-up-down {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.sort-up-down li:first-child {
    margin-right: 21px;
}

.up-down:hover svg path {
    fill: var(--basic-black);
}

.up-down:active svg path, .up-down-active svg path, .up-down-active:hover svg path, .up-down-active:active svg path {
    fill: var(--basic-red);
}


.filters h4, .sort h4 {
    font-family: 'PT Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    width: 202px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    background-color: var(--sort-grey);
}

.filter-form {
    font-family: 'PT Sans', Arial, sans-serif;
    color: var(--basic-black);
    
}


.filter-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid var(--sort-grey);
    margin-bottom: 16px;
    margin-top: 14px;
}

.filter-item:last-of-type {
    border: none;
}

.range-filter {
    width: 220px;
}
.filter-form legend {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
    display: block;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--sort-grey);
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: var(--scale-background);
}

.range-controls .bar {
    width: 90%;
    height: 2px;
    background: var(--scale-active);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle-color);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(207, 207, 207, 0.3);
    cursor: pointer;
}

.price-controls input {
    width: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--basic-black);
    border: none;
    border-radius: 5px;
    background: var(--sort-grey);
    font-family: "PT Sans", Arial, sans-serif;
    font-size: inherit;
    text-align: center;
}

.price-controls span {
    font-family: 'PT Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;
    color: var(--divider);
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.filter-option {
    margin-bottom: 20px;
    padding-left: 35px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_checkbox-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: -35px;
    top: -2px;
    width: 23px;
    height: 23px;
}

.filter-input-checkbox:hover + label::before {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_checkbox-off_hover.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: -35px;
    top: -2px;
    width: 23px;
    height: 23px;
}

.filter-input-checkbox:active + label::before {
    opacity: 0.3;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_checkbox-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: -35px;
    top: -2px;
    width: 27px;
    height: 23px;
}

.filter-input-checkbox:checked:hover + label::before {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_checkbox-on_hover.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: -35px;
    top: -2px;
    width: 27px;
    height: 23px;
}

.filter-input-radio + label:before {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_radio-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
}

.filter-input-radio:checked + label:before {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_radio-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
}

.filter-input-radio:hover + label:before {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_radio-off_hover.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
}

.filter-input-radio:checked:hover + label:before {
    content: "";
    position: absolute;
    background-image: url("../img/decor_icon_radio-on_hover.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
}

legend.price-legend {
    margin-bottom: 11px;
}

legend.vendor-legend {
    margin-bottom: 17px;
}

legend.power-legend {
    margin-bottom: 23px;
}

.filters-button {
    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    width: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--basic-greylight-border);
    background-color: transparent;
}

.pagination-list {
    grid-column: 2 / -1;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    color: basic-black;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.pagination-item a {
    box-sizing: border-box;
    display: block;
    padding: 10px 15px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 1px solid var(--basic-greylight-border);
    border-radius: 2px;
    margin-right: 10px;
}

.pagination-item a:hover {
    border-color: var(--basic-greylight);
}

.pagination-item a:active {
    border-color: var(--basic-red);
}

.pagination-item:last-child a {
    padding: 10px 30px;
}

.pagination-item-current a {
    border: none;
    background-color: var(--basic-red);
    color: var(--basic-white);
    border: 1px solid var(--basic-red);
    border-radius: 2px;
}

.perf-about {
    background-color: var(--basic-background);
}

.perf-about .container {
    padding-top: 64px;
    padding-bottom: 68px;
}

.perf-about h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
}

.perf-about p {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}


/* Modal */

@keyframes bounce {
    0% { transform: translateY(-2000px); }
    70% { transform: translateY(30px); }
    90% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}



.modal {
    /*display: none;*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border-top: 7px solid var(--basic-red);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-map {
    display: none;
    top: 40%;
    width: 943px;
    height: 442px;
}

.modal-feedback {
    display: none;
    top: 40%;
    bottom: auto;
    width: 620px;
}

.feedback-form-container {
    width: 460px;
    margin: 0 auto;
    padding-top: 39px;
    padding-bottom: 37px;
}

.modal-close {
    position: absolute;
    top: 14px;
    right: 11px;
    height: 21px;
    width: 21px;
    background-color: transparent;
    background-image: url("../img/decor_icon_close.svg");
    border: 0;
    cursor: pointer;
    z-index: 100;
}

.modal-feedback label {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 11px;
}

.modal-feedback input::placeholder, .modal-feedback textarea::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-grey-price);
}

.half-width {
    display: inline-block;
    vertical-align: center;
    margin-bottom: 20px;
}

.half-width input, .full-width textarea {
    box-sizing: border-box;
    padding: 7px 12px;
    border: 2px solid var(--basic-greylight);
    border-radius: 2px;
}

.half-width input {
    width: 220px;
}

.half-width:first-child {
    margin-right: 16px;
}

.full-width textarea {
    width: 460px;
    min-height: 114px;
}

.feedback-container form {
    padding-top: 39px;
    padding-bottom: 37px;
}

.feedback-button-container {
    background-color: var(--form-background);
    padding: 37px 80px;
}

.feedback-button-container .red_button {
    border: none;
    width: 460px;
    margin: 0 auto;
}

.modal-map iframe {
    border: none;
    position: relative;
    z-index: 2;
}

.modal-map p {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.modal-cart {
    display: none;
    top: 40%;
    bottom: auto;
    width: 620px;
}

.modal-cart::after {
    position: absolute;
    content: "";
    background-image: url("../img/background_cart_ok.svg");
    width: 66px;
    height: 66px;
    background-position: 0 0;
    top: 48px;
    left: 81px;
    background-repeat: no-repeat;
}

.modal-cart p {
    text-align: center;
    margin-top: 66px;
    margin-bottom: 66px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.modal-cart-buttons {
    display: flex;
    justify-content: center;
    padding-top: 37px;
    padding-bottom: 37px;
    background-color: var(--buttons-background);

}

.modal-cart-buttons button {
    width: 192px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}

.check {
    margin-right: 10px;
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.continue {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.footer-phone {
    color: var(--footer-gray);
}